.header {
  background-color: #FFFBE1;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header img{
  width: 400px;
  display: block;
  margin:auto; 
}

.footer {
  background-color: #000;
  height: 90px;
  display: flex;
  justify-content: center;
}
.footer>div {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: white;
}
.footer img{
  width: 400px
}
.footer p{
  margin: 10px 0 0 auto;
  font-size: 14px;
}